@font-face {
    font-family: 'Inter';
    src: local(''),
        url('../fonts/Inter-Regular.ttf') format('truetype'),
        url('../fonts/Inter-Medium.ttf') format('truetype'),
        url('../fonts/Inter-Bold.ttf') format('truetype'),
        url('../fonts/Inter-ExtraBold.ttf') format('truetype');
}

$font-color-fff:#fff;
$font-color-000:#000000;

%display-flex-spb {
    display: flex;
    justify-content: space-between;
}

%university-icon {
    width: 160px;
    height: 72px;
    mix-blend-mode: darken;
    opacity: 0.68;
    background-repeat: no-repeat;
    margin: auto 0 auto 0;
}

%steps {
    width: 95px;
    border: 2px solid #252525;
    margin-right: 9px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
}

header {
    margin-top: 21px;
    margin-bottom: 70px;
}

body {
    background-color: $font-color-fff;
    margin: auto;
    width: 1216px;
}

a {
    text-decoration: none;
}

.header-logo {
    background-image: url(../img/desktop.png);
    background-repeat: no-repeat;
    width: 152px;
    height: 40px;
}

.header-avatar-icon {
    background-image: url(../img/avatar_small.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin-right: 8px;
}

.header-btn {
    width: 177px;
    height: 30px;
    margin: auto;
    background-color: $font-color-000;
    border-radius: 4px;

    p {
        margin: auto;
        padding-top: 5px;
        width: 153px;
        font-weight: 700;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        color: $font-color-fff;
    }
}

.header-contact-info {
    @extend %display-flex-spb;
    margin-bottom: 35px;
}

.header-contact-items {
    display: flex;

    .item-vk {
        background-image: url(../img/vk.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        margin-right: 16px;
    }

    .item-inst {
        background-image: url(../img/instagram.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        margin-right: 16px;
    }

    .item-whatsapp {
        background-image: url(../img/whatsapp.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        margin-right: 31px;
    }
}


.block-phone {
    display: flex;

    p {
        font-weight: 600;
        margin: auto;
        margin-right: 13px;
    }
}

.header-block-contact {
    display: flex;
}

header nav ul {
    @extend %display-flex-spb;

    li {
        padding: auto;
        list-style: none;
        padding: 4px 12px;

        background: #F2F2F2;
        border-radius: 28px;

        p {
            margin: auto;
        }
    }
}

.ed-main {
    @extend %display-flex-spb;
}

.ed-main-img {
    width: 800px;
    height: 496px;
    background-image: url(../img/backgr-img.png);
    background-repeat: no-repeat;
    // padding: 40px 42px 39px 40px;
    position: relative;


    h1 {
        font-weight: 800;
        font-size: 55px;
        line-height: 60px;
        color: #000000;
        width: 506px;
        padding-top: 40px;
        padding-left: 40px;

    }

    p {
        font-size: 22px;
        line-height: 40px;
        color: #000000;
        width: 552px;
        padding-top: 21px;
        padding-left: 40px;
    }

    ul {
        display: flex;
        margin-left: 23px;
        margin-top: 68px;

        li {
            margin-left: 33px;
            padding-left: 7px;
        }
    }

    .moscow-img {
        width: 135px;
        height: 135px;
        background-image: url(../img/Ellipse.png);
        position: absolute;
        left: 625px;
        bottom: 40px;
    }

    .share-img {
        background-image: url(../img/Union.svg);
        position: absolute;
        width: 20px;
        height: 20px;
        top: 42px;
        right: 42px;
        opacity: 0.6;
    }
}

.ed-steps {
    width: 384px;
    height: 496px;
    left: 1059px;
    top: 192px;
    background-color: $font-color-000;
}

.steps {
    display: flex;
    width: 303px;
    margin: 32px auto 0 auto;

    .step1 {
        @extend %steps;
        border-color: #DFDFDE;
    }

    .step2 {
        @extend %steps;
    }

    .step3 {
        @extend %steps;
        margin-right: 0;
    }
}

.selections {
    @extend %display-flex-spb;
    width: 303px;
    margin: 15px auto 0 auto;

    h1 {
        width: 232px;
        font-weight: 600;
        font-size: 22px;
        color: #FFFFFF;

    }

    p {
        width: 27px;
        font-size: 13px;
        line-height: 22px;
        text-align: right;
        color: #787878;
        margin: auto 0 auto;
    }
}

.educational-level {
    @extend %display-flex-spb;
    width: 303px;
    height: 172px;
    margin: 95px auto 0 auto;
    flex-direction: column;

    h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: $font-color-fff;
    }
}

.level {
    display: flex;
    flex-wrap: wrap;

    p {
        margin-bottom: 12px;
        margin-right: 5px;
        height: 31px;
        padding: 5px 10px;
        text-align: start;
        border: 1px solid #282828;
        box-sizing: border-box;
        border-radius: 40px;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #A8A8A8;
    }
}

.sent {
    margin: 57px auto 0 auto;
    background-color: #333333;
    width: 303px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #333333;
    position: relative;

    h2 {
        width: 149px;
        height: 22px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        letter-spacing: 0.01em;
        color: $font-color-fff;
        margin: 12px auto;
    }
}

.university {
    margin-top: 72px;
    height: 193px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;

    .university-icon {
        width: 1216px;
        @extend %display-flex-spb;

        .tsu {
            @extend %university-icon;
            background-image: url(../img/TSU.svg);
        }

        .meu {
            @extend %university-icon;
            background-image: url(../img/MEU.svg);
        }

        .miu {
            @extend %university-icon;
            background-image: url(../img/MIU.svg);
        }

        .mma {
            @extend %university-icon;
            background-image: url(../img/MMA.svg);
        }

        .miu2 {
            @extend %university-icon;
            background-image: url(../img/MIU.svg);
        }
    }
}